<div>
  <!--遮罩弹窗-->
    <div class="figure-bg-screen">
        <div class="figure-box">
          <div class="figure-close"></div>
            <img src="images/figure-sub.png" alt="弹窗"id="replace-bg">
            <div class="success-infor">
                恭喜你中奖了
            </div>
            <div class="figure-text">
                <div class="figure-phone">
                    <input type="text"placeholder="输入电话号码">
                </div>
                <div class="erro-infor"></div>
                <div class="figure-input">
                    <input type="text"/placeholder="请输入验证码">
                    <div class="get-number">
                       <button class="get-Codes btn"type="button"><span>获取验证码</span></button>
                    </div>
                </div>
            </div>
            <div class="figure-sub">
              <button class="figure-sub-btn"type="button"data-btn="sub">
                  提交 
              </button>
            </div>
        </div>
        <div class="temp-img">
             <img src="images/figure-sub.png" alt="立即提交">
             <img src="images/figure-get-bg1.png" alt="立即领取">
             <img src="images/figure-get-bg2.png" alt="确认">
        </div>
    </div><!--遮罩弹窗结束-->

    <!--缩图整体内容开始-->
    <div class="for-figure-content">
        <!-- 缩图-->
        <div class="for-figure">
                 <figure class="figure-commenpent">
                      <div class="left">
                          <img src="images/list.png" alt="图片"/class="figure-pics">            
                      </div>
                      <figcaption class="figure-right">
                           <h5>韩国艺匠...</h5>
                          <div class="figure-content">
                              <div class="map"><img src="images/figure-map.png" alt="地图图片"><span>马尔代夫</span></div>
                              <p>商家促销信息，内容不超过三行。比如送20张精修一套场景...</p>
                          </div> 
                          <div class="figure-footer">
                              <span>¥22200</span>
                              <button class="figure-sure"><img src="images/figure-btn.png" alt="图片按钮"></button>
                          </div>
                      </figcaption>
                  </figure>
        </div>  
        <!-- 缩图-->
        <div class="for-figure">
                 <figure class="figure-commenpent">
                      <div class="left">
                          <img src="images/list.png" alt="图片"/class="figure-pics">            
                      </div>
                      <figcaption class="figure-right">
                           <h5>韩国艺匠...</h5>
                          <div class="figure-content">
                              <div class="map"><img src="images/figure-map.png" alt="地图图片"><span>马尔代夫</span></div>
                              <p>商家促销信息，内容不超过三行。比如送20张精修一套场景...</p>
                          </div> 
                          <div class="figure-footer">
                              <span>¥22200</span>
                              <button class="figure-sure"><img src="images/figure-btn.png" alt="图片按钮"></button>
                          </div>
                      </figcaption>
                </figure>
        </div>
        <!-- 缩图-->
        <div class="for-figure">
                 <figure class="figure-commenpent">
                      <div class="left">
                          <img src="images/list.png" alt="图片"/class="figure-pics">            
                      </div>
                      <figcaption class="figure-right">
                           <h5>韩国艺匠...</h5>
                          <div class="figure-content">
                              <div class="map"><img src="images/figure-map.png" alt="地图图片"><span>马尔代夫</span></div>
                              <p>商家促销信息，内容不超过三行。比如送20张精修一套场景...</p>
                          </div> 
                          <div class="figure-footer">
                              <span>¥22200</span>
                              <button class="figure-sure"><img src="images/figure-btn.png" alt="图片按钮"></button>
                          </div>
                      </figcaption>
                </figure>
        </div>

    </div><!--缩图整体内容结束-->
</div>